/* styles/datepicker.module.css */
.datepicker-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
  }
  
  .react-datepicker__triangle {
	display: none; /* Hide the triangle pointer */
  }
  
  .react-datepicker__header {
	background-color: #0070f3; /* Change header color */
	color: white; /* Text color */
	border-radius: 8px 8px 0 0; /* Rounded corners on top */
  }
  
  .react-datepicker__current-month {
	font-size: 1.2rem;
	font-weight: bold;
  }
  
  .react-datepicker__day-names {
	background-color: #f1f1f1; /* Weekday name background */
  }
  
  .react-datepicker__day {
	font-size: 1rem;
	color: #333;
	border-radius: 50%;
	transition: background-color 0.3s ease;
  }
  
  .react-datepicker__day:hover {
	background-color: #0070f3; /* Hover effect */
	color: white;
  }
  
  .react-datepicker__day--selected {
	background-color: #0070f3; /* Selected date background */
	color: white;
  }
  
  .react-datepicker__input-container>input{
	color: black !important;
  }
  
  .react-datepicker__input-container input:focus {
	border-color: #005bb5;
  }
  